html
 head
   title Local Library / Home 
   link(rel="stylesheet", href="styles.css")
 body
   header
    p
      a(href='/') Home
      br
      a(href='/authors') All authors
      br
      a(href='/books') All books
      br
      a(href='/authors/create') Create a new author
      br
      a(href='/books/create') Create a new book
   main
    section
     h2 Local Library Home 
     p Welcome to LocalLibrary, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
    section
     h2 Dynamic content
     p The library has the following record counts: 
     ul
      li Books: 
      li Authors: